.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
body {
  overflow-y: hidden;
}

.column {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 20px;
  width: 350px;
  height: 90vh;
  overflow-y: scroll;
  margin-right: 20px;
}

.candidate-card {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 12px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.column::-webkit-scrollbar {
  display: none;
}
.image-card {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rating-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 18px;
}
.star {
  color: gold;
  margin-left: 5px;
}
.header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text-style {
  width: "100%";
  text-overflow: ellipsis;
  overflow: hidden;
}
.status-style {
  background-color: rgb(100, 149, 237);
  align-items: center;
  border-radius: 15px;
  padding: 8px;
  max-width: fit-content;
}

@media (max-width: 768px) {
  .column {
    width: 300px;
    margin-bottom: 30px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  body {
    overflow-y: scroll;
  }
}
